_g2f_2014_hybrid_data_description.txt
g2f_2014_hybrid_no_outliers.csv
_g2f_2015_hybrid_data_description.txt
g2f_2015_hybrid_data_no_outliers.csv
_g2f_2016_hybrid_data_description.txt
g2f_2016_hybrid_data_no_outliers.csv
_g2f_2017_hybrid_data_description.txt
g2f_2017_hyrbid_data_no_outliers.csv
yield_agron0_filtered.rds
yield_agron0.rds
yield_agron40.rds
yield_agron4n0.rds
yield_augment.rds
yield_blue_env.rds
yield_munged.rds
yield_stage_one_all_agron0.rds
yield_stage_one_all_agron40.rds
yield_stage_one_gbs_agron0.rds
yield_blue_env_fused.rds
joint_rxn_norm_model.rds
rxn_norm_parameters.rds
yield_blue_final.rds
yield_site_final.rds
single_trait_predictions.rds
single_trait_predictions_rkhs.rds
