.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user.backup
exploring_heterozygosity.R
gbs_inbreds.txt
inbred_parents.txt
project_outline.Rmd
project_outline.html
gemma.log
nohup.out
sgl.log
Rplots.pdf
ga_het.log
ga_iid.log
common_gwas.log
ld_test.R
Zm_GAMER_anno.txt
go_permute.log
mcmc.log
org.Zmays.eg.db
old
boot.log
climwinCS_pred.log
climwin_custom.log
climwin_cv.R
climwin_cv.log
climwin_cv_CS.R
climwin_cv_CS.log
climwin_cv_rand.R
climwin_rand.log
climwin_rand_all.log
comparison_output
comparisons
confidence_sets.R
drop10.log
fastAICc.cpp
ga_all.log
ga_cv.log
ga_cv2.log
ga_cv_221.sh
ga_cv_222.sh
ga_cv_227.sh
ga_cv_228.sh
ga_cv_237.sh
ga_cv_IAH1_2014.txt
ga_select
ga_test.log
gene_models.R
model_thresh.R
par_test.R
predictions.log
predictions_drop10.log
prism_valid
prism_validate.R
prog_pred.log
rare_analysis.R
rare_ld.R
rare_ld2.R
rare_snps.R
test.R
unique_values.R
vc.log
yG_nE_pred.log
