.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user.backup
exploring_heterozygosity.R
gbs_inbreds.txt
inbred_parents.txt
project_outline.Rmd
project_outline.html
gemma.log
nohup.out
sgl.log
Rplots.pdf
ga_het.log
ga_iid.log
common_gwas.log
ld_test.R
