hapmap3_samples.txt
MD5.txt
merged_flt_c10.vcf.gz
merged_flt_c10.vcf.gz.tbi
merged_flt_c1.vcf.gz
merged_flt_c2.vcf.gz
merged_flt_c3.vcf.gz
merged_flt_c4.vcf.gz
merged_flt_c5.vcf.gz
merged_flt_c6.vcf.gz
merged_flt_c7.vcf.gz
merged_flt_c8.vcf.gz
merged_flt_c9.vcf.gz
