rxn_chain1_ETA_NET_X0.425_X1.125_b.bin
rxn_chain1_ETA_NET_X0.425_X1.125_varB.dat
rxn_chain1_ETA_PPT_X0.1_X0.225_b.bin
rxn_chain1_ETA_PPT_X0.1_X0.225_varB.dat
rxn_chain1_ETA_TMAX_X0.75_X0.95_b.bin
rxn_chain1_ETA_TMAX_X0.75_X0.95_varB.dat
rxn_chain1_ETA_TMIN_X0.225_X0.45_b.bin
rxn_chain1_ETA_TMIN_X0.225_X0.45_varB.dat
rxn_chain1_ETA_TMIN_X0.45_X1.1_b.bin
rxn_chain1_ETA_TMIN_X0.45_X1.1_varB.dat
rxn_chain1_ETA_fixed_b.dat
rxn_chain1_ETA_hybrid_b.bin
rxn_chain1_ETA_hybrid_varB.dat
rxn_chain1_mu.dat
rxn_chain1_varE.dat
rxn_chain2_ETA_NET_X0.425_X1.125_b.bin
rxn_chain2_ETA_NET_X0.425_X1.125_varB.dat
rxn_chain2_ETA_PPT_X0.1_X0.225_b.bin
rxn_chain2_ETA_PPT_X0.1_X0.225_varB.dat
rxn_chain2_ETA_TMAX_X0.75_X0.95_b.bin
rxn_chain2_ETA_TMAX_X0.75_X0.95_varB.dat
rxn_chain2_ETA_TMIN_X0.225_X0.45_b.bin
rxn_chain2_ETA_TMIN_X0.225_X0.45_varB.dat
rxn_chain2_ETA_TMIN_X0.45_X1.1_b.bin
rxn_chain2_ETA_TMIN_X0.45_X1.1_varB.dat
rxn_chain2_ETA_fixed_b.dat
rxn_chain2_ETA_hybrid_b.bin
rxn_chain2_ETA_hybrid_varB.dat
rxn_chain2_mu.dat
rxn_chain2_varE.dat
rxn_chain3_ETA_NET_X0.425_X1.125_b.bin
rxn_chain3_ETA_NET_X0.425_X1.125_varB.dat
rxn_chain3_ETA_PPT_X0.1_X0.225_b.bin
rxn_chain3_ETA_PPT_X0.1_X0.225_varB.dat
rxn_chain3_ETA_TMAX_X0.75_X0.95_b.bin
rxn_chain3_ETA_TMAX_X0.75_X0.95_varB.dat
rxn_chain3_ETA_TMIN_X0.225_X0.45_b.bin
rxn_chain3_ETA_TMIN_X0.225_X0.45_varB.dat
rxn_chain3_ETA_TMIN_X0.45_X1.1_b.bin
rxn_chain3_ETA_TMIN_X0.45_X1.1_varB.dat
rxn_chain3_ETA_fixed_b.dat
rxn_chain3_ETA_hybrid_b.bin
rxn_chain3_ETA_hybrid_varB.dat
rxn_chain3_mu.dat
rxn_chain3_varE.dat
rxn_chain4_ETA_NET_X0.425_X1.125_b.bin
rxn_chain4_ETA_NET_X0.425_X1.125_varB.dat
rxn_chain4_ETA_PPT_X0.1_X0.225_b.bin
rxn_chain4_ETA_PPT_X0.1_X0.225_varB.dat
rxn_chain4_ETA_TMAX_X0.75_X0.95_b.bin
rxn_chain4_ETA_TMAX_X0.75_X0.95_varB.dat
rxn_chain4_ETA_TMIN_X0.225_X0.45_b.bin
rxn_chain4_ETA_TMIN_X0.225_X0.45_varB.dat
rxn_chain4_ETA_TMIN_X0.45_X1.1_b.bin
rxn_chain4_ETA_TMIN_X0.45_X1.1_varB.dat
rxn_chain4_ETA_fixed_b.dat
rxn_chain4_ETA_hybrid_b.bin
rxn_chain4_ETA_hybrid_varB.dat
rxn_chain4_mu.dat
rxn_chain4_varE.dat
rxn_chain1_ETA_NET_X0.65_X1.15_b.bin
rxn_chain1_ETA_NET_X0.65_X1.15_varB.dat
rxn_chain1_ETA_NET_X0_X1.275_b.bin
rxn_chain1_ETA_NET_X0_X1.275_varB.dat
rxn_chain1_ETA_PPT_X0.4_X1.4_b.bin
rxn_chain1_ETA_PPT_X0.4_X1.4_varB.dat
rxn_chain1_ETA_PPT_X0.525_X0.7_b.bin
rxn_chain1_ETA_PPT_X0.525_X0.7_varB.dat
rxn_chain1_ETA_TMAX_X0.05_X1.375_b.bin
rxn_chain1_ETA_TMAX_X0.05_X1.375_varB.dat
rxn_chain2_ETA_NET_X0.65_X1.15_b.bin
rxn_chain2_ETA_NET_X0.65_X1.15_varB.dat
rxn_chain2_ETA_NET_X0_X1.275_b.bin
rxn_chain2_ETA_NET_X0_X1.275_varB.dat
rxn_chain2_ETA_PPT_X0.4_X1.4_b.bin
rxn_chain2_ETA_PPT_X0.4_X1.4_varB.dat
rxn_chain2_ETA_PPT_X0.525_X0.7_b.bin
rxn_chain2_ETA_PPT_X0.525_X0.7_varB.dat
rxn_chain2_ETA_TMAX_X0.05_X1.375_b.bin
rxn_chain2_ETA_TMAX_X0.05_X1.375_varB.dat
rxn_chain3_ETA_NET_X0.65_X1.15_b.bin
rxn_chain3_ETA_NET_X0.65_X1.15_varB.dat
rxn_chain3_ETA_NET_X0_X1.275_b.bin
rxn_chain3_ETA_NET_X0_X1.275_varB.dat
rxn_chain3_ETA_PPT_X0.4_X1.4_b.bin
rxn_chain3_ETA_PPT_X0.4_X1.4_varB.dat
rxn_chain3_ETA_PPT_X0.525_X0.7_b.bin
rxn_chain3_ETA_PPT_X0.525_X0.7_varB.dat
rxn_chain3_ETA_TMAX_X0.05_X1.375_b.bin
rxn_chain3_ETA_TMAX_X0.05_X1.375_varB.dat
rxn_chain4_ETA_NET_X0.65_X1.15_b.bin
rxn_chain4_ETA_NET_X0.65_X1.15_varB.dat
rxn_chain4_ETA_NET_X0_X1.275_b.bin
rxn_chain4_ETA_NET_X0_X1.275_varB.dat
rxn_chain4_ETA_PPT_X0.4_X1.4_b.bin
rxn_chain4_ETA_PPT_X0.4_X1.4_varB.dat
rxn_chain4_ETA_PPT_X0.525_X0.7_b.bin
rxn_chain4_ETA_PPT_X0.525_X0.7_varB.dat
rxn_chain4_ETA_TMAX_X0.05_X1.375_b.bin
rxn_chain4_ETA_TMAX_X0.05_X1.375_varB.dat
h2
rr_tmax
rxn_chain1_ETA_NET_X0.025_X0.45_b.bin
rxn_chain1_ETA_NET_X0.025_X0.45_varB.dat
rxn_chain1_ETA_NET_X0.65_X1.275_b.bin
rxn_chain1_ETA_NET_X0.65_X1.275_varB.dat
rxn_chain1_ETA_TMAX_X0.775_X0.875_b.bin
rxn_chain1_ETA_TMAX_X0.775_X0.875_varB.dat
rxn_chain1_ETA_TMIN_X0.05_X1.5_b.bin
rxn_chain1_ETA_TMIN_X0.05_X1.5_varB.dat
rxn_chain1_ETA_TMIN_X0.15_X0.65_b.bin
rxn_chain1_ETA_TMIN_X0.15_X0.65_varB.dat
rxn_chain2_ETA_NET_X0.025_X0.45_b.bin
rxn_chain2_ETA_NET_X0.025_X0.45_varB.dat
rxn_chain2_ETA_NET_X0.65_X1.275_b.bin
rxn_chain2_ETA_NET_X0.65_X1.275_varB.dat
rxn_chain2_ETA_TMAX_X0.775_X0.875_b.bin
rxn_chain2_ETA_TMAX_X0.775_X0.875_varB.dat
rxn_chain2_ETA_TMIN_X0.05_X1.5_b.bin
rxn_chain2_ETA_TMIN_X0.05_X1.5_varB.dat
rxn_chain2_ETA_TMIN_X0.15_X0.65_b.bin
rxn_chain2_ETA_TMIN_X0.15_X0.65_varB.dat
rxn_chain3_ETA_NET_X0.025_X0.45_b.bin
rxn_chain3_ETA_NET_X0.025_X0.45_varB.dat
rxn_chain3_ETA_NET_X0.65_X1.275_b.bin
rxn_chain3_ETA_NET_X0.65_X1.275_varB.dat
rxn_chain3_ETA_TMAX_X0.775_X0.875_b.bin
rxn_chain3_ETA_TMAX_X0.775_X0.875_varB.dat
rxn_chain3_ETA_TMIN_X0.05_X1.5_b.bin
rxn_chain3_ETA_TMIN_X0.05_X1.5_varB.dat
rxn_chain3_ETA_TMIN_X0.15_X0.65_b.bin
rxn_chain3_ETA_TMIN_X0.15_X0.65_varB.dat
rxn_chain4_ETA_NET_X0.025_X0.45_b.bin
rxn_chain4_ETA_NET_X0.025_X0.45_varB.dat
rxn_chain4_ETA_NET_X0.65_X1.275_b.bin
rxn_chain4_ETA_NET_X0.65_X1.275_varB.dat
rxn_chain4_ETA_TMAX_X0.775_X0.875_b.bin
rxn_chain4_ETA_TMAX_X0.775_X0.875_varB.dat
rxn_chain4_ETA_TMIN_X0.05_X1.5_b.bin
rxn_chain4_ETA_TMIN_X0.05_X1.5_varB.dat
rxn_chain4_ETA_TMIN_X0.15_X0.65_b.bin
rxn_chain4_ETA_TMIN_X0.15_X0.65_varB.dat
trash
effect_estimates
rr_tmax1
rr_tmax2
rr_tmax3
rr_tmax4
rr_tmax5
