Ames_gbs_ibs.pdf
Ames_gbs_missing.pdf
G2F_Ames_combined_stats.pdf
G2F_Ames_sample_het.pdf
G2F_gbs_ibs.pdf
G2F_gbs_missing.pdf
NAM3_gbs_missing.pdf
NAM_gbs_missing.pdf
NAM_reference_chrom10_accuracy.pdf
NAM_reference_chrom1_accuracy.pdf
NAM_reference_chrom2_accuracy.pdf
NAM_reference_chrom3_accuracy.pdf
NAM_reference_chrom4_accuracy.pdf
NAM_reference_chrom5_accuracy.pdf
NAM_reference_chrom6_accuracy.pdf
NAM_reference_chrom7_accuracy.pdf
NAM_reference_chrom8_accuracy.pdf
NAM_reference_chrom9_accuracy.pdf
agron_DEH1_2016.pdf
agron_IAH1_2014.pdf
agron_IAH1_2014_density.pdf
agron_ILH1_2016.pdf
clustered_pc2_4.pdf
genome_heterozygosity.pdf
hybrid_count.pdf
maf.pdf
missing_agronomy.pdf
nmds_stress.pdf
nonsegregating_distribution.pdf
pc1_2.pdf
pc1_loadings_density.pdf
pc2_4.pdf
pc3_4.pdf
pca_parents.png
ril_het.pdf
scree_plot.pdf
snp_distance.pdf
snp_sources.pdf
source_counts.pdf
source_proportion.pdf
spatial_missing_corner1.pdf
spatial_missing_corner2.pdf
spatial_missing_corner_ne.pdf
spatial_missing_corner_nw.pdf
spatial_missing_corner_se.pdf
spatial_missing_corner_sw.pdf
spatial_missing_half_e.pdf
spatial_missing_half_w.pdf
spatial_missing_kept_ne.pdf
spatial_missing_kept_nw.pdf
spatial_missing_kept_se.pdf
spatial_missing_kept_sw.pdf
spatial_missing_random.pdf
spatial_missing_rep1.pdf
spatial_missing_rep2.pdf
stalk_NYH3_2015.pdf
structure_maf.pdf
weather_imputed_SR_2014.pdf
weather_imputed_SR_2015.pdf
weather_imputed_SR_2016.pdf
weather_imputed_SR_2017.pdf
weather_imputed_TEMP_2014.pdf
weather_imputed_TEMP_2015.pdf
weather_imputed_TEMP_2016.pdf
weather_imputed_TEMP_2017.pdf
weather_unimputed_SR_2014.pdf
weather_unimputed_SR_2015.pdf
weather_unimputed_SR_2016.pdf
weather_unimputed_TEMP_2014.pdf
weather_unimputed_TEMP_2015.pdf
weather_unimputed_TEMP_2016.pdf
decay_example.pdf
fastSTRUCTURE_deltaK.pdf
fastSTRUCTURE_ll.pdf
