Drop10_site.png
Drop1_site.png
Drop2_site.png
Drop3_site.png
Drop4_site.png
Drop5_site.png
Drop6_site.png
Drop7_site.png
Drop8_site.png
Drop9_site.png
all_cs.png
all_variables.png
ceris_drop10.rds
ceris_n_BIC_cv.pdf
ceris_n_BIC_ranks.pdf
ceris_n_adjR2_cv.pdf
ceris_n_adjR2_ranks.pdf
ceris_n_single_cor.pdf
ceris_n_single_cv.pdf
ceris_n_single_cv_count.pdf
ceris_single.rds
ceris_step_adjR2.rds
ceris_step_eBIC.rds
ceris_y_BIC_cv.pdf
ceris_y_BIC_ranks.pdf
ceris_y_adjR2_cv.pdf
ceris_y_adjR2_ranks.pdf
ceris_y_single_cor.pdf
ceris_y_single_cv.pdf
ceris_y_single_cv_count.pdf
climwin_custom.rds
climwin_n_cv.pdf
climwin_y_cv.pdf
cluster_entropy.png
cluster_steps.png
clusters_vs_dist.png
comparison.png
comparison_figure.png
comparison_figures.png
compression.png
criteria.png
criteria.rds
criteria_full_jack.png
criteria_jack_full.png
criteria_jack_jack.png
delta_all_models.png
delta_models.png
drop10_env_var.png
drop10_g_only.rds
drop10_progressive_all.png
drop10_r2_drop.png
drop10_r2_site.png
full_no_site.png
full_var_fixed.png
full_var_w_fixed.png
full_vc_decomp.png
method_comparison.png
method_comparison3.png
method_comparison_ceris.png
method_comparison_climwin.png
method_predictions.png
method_wise_r2.png
model_bics.png
progressive_predictions.rds
site_confidence_sets.png
site_wise_r2.png
vc_env_gei.png
vc_fixed_env.png
vc_fixed_site.png
vc_gei.png
vc_geno.png
yG_nE_predictions.csv
yG_nE_predictions.rds
yG_nE_predictions_drop10.rds
yG_nE_vc.csv
