add_snps.rds
Ames_gbs_keep.txt
AmesUSInbreds_AllZeaGBSv1.0_SampleNameKey.xlsx
combined_stats.sh
dissim.R
dissim.rds
g2f_2014_gbs_data.csv
G2F_Ames_combined_chrom10_filt.vcf.gz
G2F_Ames_combined_chrom10_filt.vcf.gz.tbi
G2F_Ames_combined_chrom10_imp_filt.vcf.gz
G2F_Ames_combined_chrom10_imp_filt.vcf.gz.tbi
G2F_Ames_combined_chrom10_imputed.log
G2F_Ames_combined_chrom10_imputed.stat
G2F_Ames_combined_chrom10_imputed.vcf.gz
G2F_Ames_combined_chrom10_imputed.vcf.gz.tbi
G2F_Ames_combined_chrom10.stat
G2F_Ames_combined_chrom10.vcf.gz
G2F_Ames_combined_chrom10.vcf.gz.tbi
G2F_Ames_combined_chrom1_filt.vcf.gz
G2F_Ames_combined_chrom1_filt.vcf.gz.tbi
G2F_Ames_combined_chrom1_imp_filt.vcf.gz
G2F_Ames_combined_chrom1_imp_filt.vcf.gz.tbi
G2F_Ames_combined_chrom1_imputed.log
G2F_Ames_combined_chrom1_imputed.stat
G2F_Ames_combined_chrom1_imputed.vcf.gz
G2F_Ames_combined_chrom1_imputed.vcf.gz.tbi
G2F_Ames_combined_chrom1_no_het.stat
G2F_Ames_combined_chrom1_no_het.vcf
G2F_Ames_combined_chrom1.stat
G2F_Ames_combined_chrom1.vcf.gz
G2F_Ames_combined_chrom1.vcf.gz.tbi
G2F_Ames_combined_chrom2_filt.vcf.gz
G2F_Ames_combined_chrom2_filt.vcf.gz.tbi
G2F_Ames_combined_chrom2_imp_filt.vcf.gz
G2F_Ames_combined_chrom2_imp_filt.vcf.gz.tbi
G2F_Ames_combined_chrom2_imputed.log
G2F_Ames_combined_chrom2_imputed.stat
G2F_Ames_combined_chrom2_imputed.vcf.gz
G2F_Ames_combined_chrom2_imputed.vcf.gz.tbi
G2F_Ames_combined_chrom2.stat
G2F_Ames_combined_chrom2.vcf.gz
G2F_Ames_combined_chrom2.vcf.gz.tbi
G2F_Ames_combined_chrom3_filt.vcf.gz
G2F_Ames_combined_chrom3_filt.vcf.gz.tbi
G2F_Ames_combined_chrom3_imp_filt.vcf.gz
G2F_Ames_combined_chrom3_imp_filt.vcf.gz.tbi
G2F_Ames_combined_chrom3_imputed.log
G2F_Ames_combined_chrom3_imputed.stat
G2F_Ames_combined_chrom3_imputed.vcf.gz
G2F_Ames_combined_chrom3_imputed.vcf.gz.tbi
G2F_Ames_combined_chrom3.stat
G2F_Ames_combined_chrom3.vcf.gz
G2F_Ames_combined_chrom3.vcf.gz.tbi
G2F_Ames_combined_chrom4_filt.vcf.gz
G2F_Ames_combined_chrom4_filt.vcf.gz.tbi
G2F_Ames_combined_chrom4_imp_filt.vcf.gz
G2F_Ames_combined_chrom4_imp_filt.vcf.gz.tbi
G2F_Ames_combined_chrom4_imputed.log
G2F_Ames_combined_chrom4_imputed.stat
G2F_Ames_combined_chrom4_imputed.vcf.gz
G2F_Ames_combined_chrom4_imputed.vcf.gz.tbi
G2F_Ames_combined_chrom4.stat
G2F_Ames_combined_chrom4.vcf.gz
G2F_Ames_combined_chrom4.vcf.gz.tbi
G2F_Ames_combined_chrom5_filt.vcf.gz
G2F_Ames_combined_chrom5_filt.vcf.gz.tbi
G2F_Ames_combined_chrom5_imp_filt.vcf.gz
G2F_Ames_combined_chrom5_imp_filt.vcf.gz.tbi
G2F_Ames_combined_chrom5_imputed.log
G2F_Ames_combined_chrom5_imputed.stat
G2F_Ames_combined_chrom5_imputed.vcf.gz
G2F_Ames_combined_chrom5_imputed.vcf.gz.tbi
G2F_Ames_combined_chrom5.stat
G2F_Ames_combined_chrom5.vcf.gz
G2F_Ames_combined_chrom5.vcf.gz.tbi
G2F_Ames_combined_chrom6_filt.vcf.gz
G2F_Ames_combined_chrom6_filt.vcf.gz.tbi
G2F_Ames_combined_chrom6_imp_filt.vcf.gz
G2F_Ames_combined_chrom6_imp_filt.vcf.gz.tbi
G2F_Ames_combined_chrom6_imputed.log
G2F_Ames_combined_chrom6_imputed.stat
G2F_Ames_combined_chrom6_imputed.vcf.gz
G2F_Ames_combined_chrom6_imputed.vcf.gz.tbi
G2F_Ames_combined_chrom6.stat
G2F_Ames_combined_chrom6.vcf.gz
G2F_Ames_combined_chrom6.vcf.gz.tbi
G2F_Ames_combined_chrom7_filt.vcf.gz
G2F_Ames_combined_chrom7_filt.vcf.gz.tbi
G2F_Ames_combined_chrom7_imp_filt.vcf.gz
G2F_Ames_combined_chrom7_imp_filt.vcf.gz.tbi
G2F_Ames_combined_chrom7_imputed.log
G2F_Ames_combined_chrom7_imputed.stat
G2F_Ames_combined_chrom7_imputed.vcf.gz
G2F_Ames_combined_chrom7_imputed.vcf.gz.tbi
G2F_Ames_combined_chrom7.stat
G2F_Ames_combined_chrom7.vcf.gz
G2F_Ames_combined_chrom7.vcf.gz.tbi
G2F_Ames_combined_chrom8_filt.vcf.gz
G2F_Ames_combined_chrom8_filt.vcf.gz.tbi
G2F_Ames_combined_chrom8_imp_filt.vcf.gz
G2F_Ames_combined_chrom8_imp_filt.vcf.gz.tbi
G2F_Ames_combined_chrom8_imputed.log
G2F_Ames_combined_chrom8_imputed.stat
G2F_Ames_combined_chrom8_imputed.vcf.gz
G2F_Ames_combined_chrom8_imputed.vcf.gz.tbi
G2F_Ames_combined_chrom8.stat
G2F_Ames_combined_chrom8.vcf.gz
G2F_Ames_combined_chrom8.vcf.gz.tbi
G2F_Ames_combined_chrom9_filt.vcf.gz
G2F_Ames_combined_chrom9_filt.vcf.gz.tbi
G2F_Ames_combined_chrom9_imp_filt.vcf.gz
G2F_Ames_combined_chrom9_imp_filt.vcf.gz.tbi
G2F_Ames_combined_chrom9_imputed.log
G2F_Ames_combined_chrom9_imputed.stat
G2F_Ames_combined_chrom9_imputed.vcf.gz
G2F_Ames_combined_chrom9_imputed.vcf.gz.tbi
G2F_Ames_combined_chrom9.stat
G2F_Ames_combined_chrom9.vcf.gz
G2F_Ames_combined_chrom9.vcf.gz.tbi
G2F_Ames_combined.vcf
G2F_gbs_keep.txt
G2F_pre_swap_sizes.txt
GAN_combined_chrom10.vcf.gz
GAN_combined_chrom1.vcf.gz
GAN_combined_chrom2.vcf.gz
GAN_combined_chrom3.vcf.gz
GAN_combined_chrom4.vcf.gz
GAN_combined_chrom5.vcf.gz
GAN_combined_chrom6.vcf.gz
GAN_combined_chrom7.vcf.gz
GAN_combined_chrom8.vcf.gz
GAN_combined_chrom9.vcf.gz
GAN_reference_chrom10.log
GAN_reference_chrom10.stat
GAN_reference_chrom10.vcf
GAN_reference_chrom1.log
GAN_reference_chrom1.stat
GAN_reference_chrom1.vcf
GAN_reference_chrom2.log
GAN_reference_chrom2.stat
GAN_reference_chrom2.vcf
GAN_reference_chrom3.log
GAN_reference_chrom3.stat
GAN_reference_chrom3.vcf
GAN_reference_chrom4.log
GAN_reference_chrom4.stat
GAN_reference_chrom4.vcf
GAN_reference_chrom5.log
GAN_reference_chrom5.stat
GAN_reference_chrom5.vcf
GAN_reference_chrom6.log
GAN_reference_chrom6.stat
GAN_reference_chrom6.vcf
GAN_reference_chrom7.log
GAN_reference_chrom7.stat
GAN_reference_chrom7.vcf
GAN_reference_chrom8.log
GAN_reference_chrom8.stat
GAN_reference_chrom8.vcf
GAN_reference_chrom9.log
GAN_reference_chrom9.stat
GAN_reference_chrom9.vcf
NAM_imputed_chrom10_filt.vcf.gz
NAM_imputed_chrom10_filt.vcf.gz.tbi
NAM_imputed_chrom10.log
NAM_imputed_chrom10_sub.vcf.gz
NAM_imputed_chrom10_sub.vcf.gz.tbi
NAM_imputed_chrom10.vcf.gz
NAM_imputed_chrom10.vcf.gz.tbi
NAM_imputed_chrom1_filt.vcf.gz
NAM_imputed_chrom1_filt.vcf.gz.tbi
NAM_imputed_chrom1.log
NAM_imputed_chrom1_sub.vcf.gz
NAM_imputed_chrom1_sub.vcf.gz.tbi
NAM_imputed_chrom1.vcf.gz
NAM_imputed_chrom1.vcf.gz.tbi
NAM_imputed_chrom2_filt.vcf.gz
NAM_imputed_chrom2_filt.vcf.gz.tbi
NAM_imputed_chrom2.log
NAM_imputed_chrom2_sub.vcf.gz
NAM_imputed_chrom2_sub.vcf.gz.tbi
NAM_imputed_chrom2.vcf.gz
NAM_imputed_chrom2.vcf.gz.tbi
NAM_imputed_chrom3_filt.vcf.gz
NAM_imputed_chrom3_filt.vcf.gz.tbi
NAM_imputed_chrom3.log
NAM_imputed_chrom3_sub.vcf.gz
NAM_imputed_chrom3_sub.vcf.gz.tbi
NAM_imputed_chrom3.vcf.gz
NAM_imputed_chrom3.vcf.gz.tbi
NAM_imputed_chrom4_filt.vcf.gz
NAM_imputed_chrom4_filt.vcf.gz.tbi
NAM_imputed_chrom4.log
NAM_imputed_chrom4_sub.vcf.gz
NAM_imputed_chrom4_sub.vcf.gz.tbi
NAM_imputed_chrom4.vcf.gz
NAM_imputed_chrom4.vcf.gz.tbi
NAM_imputed_chrom5_filt.vcf.gz
NAM_imputed_chrom5_filt.vcf.gz.tbi
NAM_imputed_chrom5.log
NAM_imputed_chrom5_sub.vcf.gz
NAM_imputed_chrom5_sub.vcf.gz.tbi
NAM_imputed_chrom5.vcf.gz
NAM_imputed_chrom5.vcf.gz.tbi
NAM_imputed_chrom6_filt.vcf.gz
NAM_imputed_chrom6_filt.vcf.gz.tbi
NAM_imputed_chrom6.log
NAM_imputed_chrom6_sub.vcf.gz
NAM_imputed_chrom6_sub.vcf.gz.tbi
NAM_imputed_chrom6.vcf.gz
NAM_imputed_chrom6.vcf.gz.tbi
NAM_imputed_chrom7_filt.vcf.gz
NAM_imputed_chrom7_filt.vcf.gz.tbi
NAM_imputed_chrom7.log
NAM_imputed_chrom7_sub.vcf.gz
NAM_imputed_chrom7_sub.vcf.gz.tbi
NAM_imputed_chrom7.vcf.gz
NAM_imputed_chrom7.vcf.gz.tbi
NAM_imputed_chrom8_filt.vcf.gz
NAM_imputed_chrom8_filt.vcf.gz.tbi
NAM_imputed_chrom8.log
NAM_imputed_chrom8_sub.vcf.gz
NAM_imputed_chrom8_sub.vcf.gz.tbi
NAM_imputed_chrom8.vcf.gz
NAM_imputed_chrom8.vcf.gz.tbi
NAM_imputed_chrom9_filt.vcf.gz
NAM_imputed_chrom9_filt.vcf.gz.tbi
NAM_imputed_chrom9.log
NAM_imputed_chrom9_sub.vcf.gz
NAM_imputed_chrom9_sub.vcf.gz.tbi
NAM_imputed_chrom9.vcf.gz
NAM_imputed_chrom9.vcf.gz.tbi
NAM_merged_chrom10_acc_10.csv
NAM_merged_chrom10_acc_1.csv
NAM_merged_chrom10_acc_2.csv
NAM_merged_chrom10_acc_3.csv
NAM_merged_chrom10_acc_4.csv
NAM_merged_chrom10_acc_5.csv
NAM_merged_chrom10_acc_6.csv
NAM_merged_chrom10_acc_7.csv
NAM_merged_chrom10_acc_8.csv
NAM_merged_chrom10_acc_9.csv
NAM_merged_chrom10_acc.log
NAM_merged_chrom10_acc.vcf.gz
NAM_merged_chrom10_acc.vcf.gz.tbi
NAM_merged_chrom10_filt.vcf
NAM_merged_chrom10_filt.vcf.gz.tbi
NAM_merged_chrom10.stat
NAM_merged_chrom10.vcf
NAM_merged_chrom1_acc_10.csv
NAM_merged_chrom1_acc_1.csv
NAM_merged_chrom1_acc_2.csv
NAM_merged_chrom1_acc_3.csv
NAM_merged_chrom1_acc_4.csv
NAM_merged_chrom1_acc_5.csv
NAM_merged_chrom1_acc_6.csv
NAM_merged_chrom1_acc_7.csv
NAM_merged_chrom1_acc_8.csv
NAM_merged_chrom1_acc_9.csv
NAM_merged_chrom1_acc.log
NAM_merged_chrom1_acc.vcf.gz
NAM_merged_chrom1_filt.vcf
NAM_merged_chrom1.stat
NAM_merged_chrom1.vcf
NAM_merged_chrom2_acc_10.csv
NAM_merged_chrom2_acc_1.csv
NAM_merged_chrom2_acc_2.csv
NAM_merged_chrom2_acc_3.csv
NAM_merged_chrom2_acc_4.csv
NAM_merged_chrom2_acc_5.csv
NAM_merged_chrom2_acc_6.csv
NAM_merged_chrom2_acc_7.csv
NAM_merged_chrom2_acc_8.csv
NAM_merged_chrom2_acc_9.csv
NAM_merged_chrom2_acc.log
NAM_merged_chrom2_acc.vcf.gz
NAM_merged_chrom2_filt.vcf
NAM_merged_chrom2.stat
NAM_merged_chrom2.vcf
NAM_merged_chrom3_acc_10.csv
NAM_merged_chrom3_acc_1.csv
NAM_merged_chrom3_acc_2.csv
NAM_merged_chrom3_acc_3.csv
NAM_merged_chrom3_acc_4.csv
NAM_merged_chrom3_acc_5.csv
NAM_merged_chrom3_acc_6.csv
NAM_merged_chrom3_acc_7.csv
NAM_merged_chrom3_acc_8.csv
NAM_merged_chrom3_acc_9.csv
NAM_merged_chrom3_acc.log
NAM_merged_chrom3_acc.vcf.gz
NAM_merged_chrom3_filt.vcf
NAM_merged_chrom3.stat
NAM_merged_chrom3.vcf
NAM_merged_chrom4_acc_10.csv
NAM_merged_chrom4_acc_1.csv
NAM_merged_chrom4_acc_2.csv
NAM_merged_chrom4_acc_3.csv
NAM_merged_chrom4_acc_4.csv
NAM_merged_chrom4_acc_5.csv
NAM_merged_chrom4_acc_6.csv
NAM_merged_chrom4_acc_7.csv
NAM_merged_chrom4_acc_8.csv
NAM_merged_chrom4_acc_9.csv
NAM_merged_chrom4_acc.log
NAM_merged_chrom4_acc.vcf.gz
NAM_merged_chrom4_filt.vcf
NAM_merged_chrom4.stat
NAM_merged_chrom4.vcf
NAM_merged_chrom5_acc_10.csv
NAM_merged_chrom5_acc_1.csv
NAM_merged_chrom5_acc_2.csv
NAM_merged_chrom5_acc_3.csv
NAM_merged_chrom5_acc_4.csv
NAM_merged_chrom5_acc_5.csv
NAM_merged_chrom5_acc_6.csv
NAM_merged_chrom5_acc_7.csv
NAM_merged_chrom5_acc_8.csv
NAM_merged_chrom5_acc_9.csv
NAM_merged_chrom5_acc.log
NAM_merged_chrom5_acc.vcf.gz
NAM_merged_chrom5_filt.vcf
NAM_merged_chrom5.stat
NAM_merged_chrom5.vcf
NAM_merged_chrom6_acc_10.csv
NAM_merged_chrom6_acc_1.csv
NAM_merged_chrom6_acc_2.csv
NAM_merged_chrom6_acc_3.csv
NAM_merged_chrom6_acc_4.csv
NAM_merged_chrom6_acc_5.csv
NAM_merged_chrom6_acc_6.csv
NAM_merged_chrom6_acc_7.csv
NAM_merged_chrom6_acc_8.csv
NAM_merged_chrom6_acc_9.csv
NAM_merged_chrom6_acc.log
NAM_merged_chrom6_acc.vcf.gz
NAM_merged_chrom6_filt.vcf
NAM_merged_chrom6.stat
NAM_merged_chrom6.vcf
NAM_merged_chrom7_acc_10.csv
NAM_merged_chrom7_acc_1.csv
NAM_merged_chrom7_acc_2.csv
NAM_merged_chrom7_acc_3.csv
NAM_merged_chrom7_acc_4.csv
NAM_merged_chrom7_acc_5.csv
NAM_merged_chrom7_acc_6.csv
NAM_merged_chrom7_acc_7.csv
NAM_merged_chrom7_acc_8.csv
NAM_merged_chrom7_acc_9.csv
NAM_merged_chrom7_acc.log
NAM_merged_chrom7_acc.vcf.gz
NAM_merged_chrom7_filt.vcf
NAM_merged_chrom7.stat
NAM_merged_chrom7.vcf
NAM_merged_chrom8_acc_10.csv
NAM_merged_chrom8_acc_1.csv
NAM_merged_chrom8_acc_2.csv
NAM_merged_chrom8_acc_3.csv
NAM_merged_chrom8_acc_4.csv
NAM_merged_chrom8_acc_5.csv
NAM_merged_chrom8_acc_6.csv
NAM_merged_chrom8_acc_7.csv
NAM_merged_chrom8_acc_8.csv
NAM_merged_chrom8_acc_9.csv
NAM_merged_chrom8_acc.log
NAM_merged_chrom8_acc.vcf.gz
NAM_merged_chrom8_filt.vcf
NAM_merged_chrom8.stat
NAM_merged_chrom8.vcf
NAM_merged_chrom9_acc_10.csv
NAM_merged_chrom9_acc_1.csv
NAM_merged_chrom9_acc_2.csv
NAM_merged_chrom9_acc_3.csv
NAM_merged_chrom9_acc_4.csv
NAM_merged_chrom9_acc_5.csv
NAM_merged_chrom9_acc_6.csv
NAM_merged_chrom9_acc_7.csv
NAM_merged_chrom9_acc_8.csv
NAM_merged_chrom9_acc_9.csv
NAM_merged_chrom9_acc.log
NAM_merged_chrom9_acc.vcf.gz
NAM_merged_chrom9_filt.vcf
NAM_merged_chrom9.stat
NAM_merged_chrom9.vcf
NAM_reference_chrom10.log
NAM_reference_chrom10.stat
NAM_reference_chrom10.vcf.gz
NAM_reference_chrom1.log
NAM_reference_chrom1.stat
NAM_reference_chrom1.vcf.gz
NAM_reference_chrom2.log
NAM_reference_chrom2.stat
NAM_reference_chrom2.vcf.gz
NAM_reference_chrom3.log
NAM_reference_chrom3.stat
NAM_reference_chrom3.vcf.gz
NAM_reference_chrom4.log
NAM_reference_chrom4.stat
NAM_reference_chrom4.vcf.gz
NAM_reference_chrom5.log
NAM_reference_chrom5.stat
NAM_reference_chrom5.vcf.gz
NAM_reference_chrom6.log
NAM_reference_chrom6.stat
NAM_reference_chrom6.vcf.gz
NAM_reference_chrom7.log
NAM_reference_chrom7.stat
NAM_reference_chrom7.vcf.gz
NAM_reference_chrom8.log
NAM_reference_chrom8.stat
NAM_reference_chrom8.vcf.gz
NAM_reference_chrom9.log
NAM_reference_chrom9.stat
NAM_reference_chrom9.vcf.gz
NAM_rna_recode_replaced.txt
NAM_rna_recode.vcf
NAM_rna.vcf
NAM_to_keep.txt
nmds.rds
nohup.out
pca_covariates.rds
pca.R
pca.rds
recalled_Ames_gbs_parsed.rds
recalled_Ames_gbs_snp_info.rds
recalled_G2F_gbs_parsed.rds
recalled_G2F_gbs_snp_info.rds
recalled_NAM3_gbs_parsed.rds
recalled_NAM3_gbs_snp_info.rds
recalled_NAM_gbs_parsed.rds
recalled_NAM_gbs_snp_info.rds
ref_acc.log
rils_to_keep.txt
synthetic_hybrids.rds
add_K.rds
g2f_hyb.fam
g2f_hyb.map
g2f_hyb.ped
g2f_hyb.vcf
g2f_hyb_bin.bed
g2f_hyb_bin.bim
g2f_hyb_bin.fam
g2f_hyb_bin.log
ld_decay.rds
ld_unc_decay.rds
