g2f_design_variable_summary.csv
variable_inclusion_all_agron0.xlsx
variable_inclusion_all_agron40.xlsx
variable_inclusion_gbs_agron0.xlsx
structure
lars
single_site_gwas
SAM_dissTOM.rds
decay_regions.csv
go_permute.rds
goslim_plant.json
goslim_plant.obo
highConfidentPPIs.txt
nam_recomb_bins.xlsx
ppi_clustering.rds
simulation
ga_data.rds
tableS1_hybrids.csv
tableS2_environments.csv
tableS6_GO_terms_LD.csv
tableS7_GO_terms_genome.csv
tableSX_environments.csv
tableSX_hybrids.csv
weather_cor.rds
weather_tree.rds
