g2f_design_variable_summary.csv
variable_inclusion_all_agron0.xlsx
variable_inclusion_all_agron40.xlsx
variable_inclusion_gbs_agron0.xlsx
structure
lars
single_site_gwas
SAM_dissTOM.rds
decay_regions.csv
go_permute.rds
goslim_plant.json
goslim_plant.obo
highConfidentPPIs.txt
nam_recomb_bins.xlsx
ppi_clustering.rds
simulation
