NAM_map_and_genos-120731.zip
NAM_markers_chrom10.vcf
NAM_markers_chrom1.vcf
NAM_markers_chrom2.vcf
NAM_markers_chrom3.vcf
NAM_markers_chrom4.vcf
NAM_markers_chrom5.vcf
NAM_markers_chrom6.vcf
NAM_markers_chrom7.vcf
NAM_markers_chrom8.vcf
NAM_markers_chrom9.vcf
NAM_markers.hmp.txt
NAM_markers.map
NAM_markers.vcf
