File_Descrips_20120731.txt
File_Descrips_20120731.txt.bak
NAM_1144SNPs_AGPv1_positions.xlsx
NAM_1144SNPs_AGPv2_positions.xlsx
NAM_genos_imputed_20090807.xlsx
NAM_genos_mapping_20080103.txt
NAM_map_20080419.xls
NAM_populations.xls
NAM_SNP_genos_raw_20090921.txt
RILs_for_NAM_Map_20071102.txt
