covariates.txt
g2f_hybrids.txt
snp_info.txt
yield_blue.txt
ash_results.rds
common_snps.txt
centered_cov.txt
common_snp_mash.rds
gemma_common_F.out
gemma_common_alpha.out
gemma_common_lambda.out
gemma_common_sigma2.out
mash_data.rds
gemma_norm_F.out
gemma_norm_alpha.out
gemma_norm_lambda.out
gemma_norm_sigma2.out
norm_snp_mash.rds
rxn_norm.txt
candidate_genes.rds
dominance
