covariates.txt
g2f_hybrids.txt
snp_info.txt
yield_blue.txt
ash_results.rds
common_snps.txt
centered_cov.txt
common_snp_mash.rds
gemma_common_F.out
gemma_common_alpha.out
gemma_common_lambda.out
gemma_common_sigma2.out
mash_data.rds
gemma_norm_F.out
gemma_norm_alpha.out
gemma_norm_lambda.out
gemma_norm_sigma2.out
norm_snp_mash.rds
rxn_norm.txt
candidate_genes.rds
dominance
coexpress_enrich.rds
enrich_permute.rds
go_terms.csv
mash_weights.rds
nearest_genes.rds
norm_snp_mash_all.rds
ppi_enrich.rds
STable_lncRNA.csv
STable_miRNA.csv
closest_vs_genome_go_terms.csv
closest_vs_genome_perm.csv
closest_vs_genome_permute.rds
closest_vs_ld_go_terms.csv
closest_vs_ld_perm.csv
closest_vs_ld_permute.rds
go_terms_permute.csv
ld_vs_genome_go_terms.csv
ld_vs_genome_perm.csv
ld_vs_genome_permute.rds
mash_1by1.rds
nearest_genes.csv
candidate_genes.csv
coexpress_enrich_ld.csv
coexpress_enrich_nearest.csv
significant_SNPs.csv
table_s4.csv
table_s5.csv
tableS8_GO_terms_region.csv
