AllZeaGBSv27_chrom10.vcf
AllZeaGBSv27_chrom11.vcf
AllZeaGBSv27_chrom1.vcf
AllZeaGBSv27_chrom2.vcf
AllZeaGBSv27_chrom3.vcf
AllZeaGBSv27_chrom4.vcf
AllZeaGBSv27_chrom5.vcf
AllZeaGBSv27_chrom6.vcf
AllZeaGBSv27_chrom7.vcf
AllZeaGBSv27_chrom8.vcf
AllZeaGBSv27_chrom9.vcf
AllZeaGBSv2.7_publicSamples_metadata20140411.xlsx
ZeaGBSv27_publicSamples_rawGenos_AGPv2-150114.h5
